.nyc_output
foo/
/unlock-challenge/
.idea/
.vscode
dist/
.yarn/
src/dist
typings
typings_backup/
typings_backup.*
/node_modules/
*.js.map
src/**/*.js
test/**/*.js
npm-debug.log
coverage
/compiled/
npm-debug*
/.rpt2_cache
/.idea/
/.cache/
/.vscode/
*.log
/logs/
npm-debug.log*
/lib-cov/
/coverage/
/.nyc_output/
/.grunt/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.tgz
.env
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem
*.p12
*.crt
*.csr
/dist/
.esm-cache
/temp/
ssh_key